/* scss設定*/
*{
    font-size: $H5-font*0.75;
}
.items{
    width: 200*4px;
    border: $color-discovery-hover-border solid 0.5px;
    z-index: 99;
}
.items-title{
  @include discovery-title;
}
.items-photo{
  @include discovery-photo;
}
.items-model-no{
  @include discovery-no;
}
.items-model-name{
  @include discovery-name;
}
.items-function{
  @include discovery-function;
}
.items-features{
  @include discovery-features;
}
.items-benefit{
  @include discovery-benefit;
}
.items-resources{
  @include discovery-resources;
  }
.items-link{
  @include discovery-link;
}
/* .items-1-nav{
  display: none;
} */
/* .factory-item-1:hover ~.items-1-nav,.items-1-nav:hover{
    display: block;
}
 */