.item-1-1{
    @include discovery-1;
    width: 210*4px;
    .item-1-1-title{
      @include discovery-title
    }
    .item-1-1-flex{
      display: flex;
      .item-1-1-col-1{
        @include discovery-col-1
      }
      .item-1-1-col-2{
        @include discovery-col-2
      }
      .item-1-1-col-3{
        @include discovery-col-2
      }
      .item-1-1-col-4{
        @include discovery-col-2
      }
      .item-1-1-col-5{
        @include discovery-col-2
      }
      .item-1-1-col-6{
        @include discovery-col-2
      }
      .item-1-1-col-7{
        @include discovery-col-2
      }
      .item-1-1-col-8{
        @include discovery-col-2
      }
    }
  }
.item-1-2{
@include discovery-1;
width: 210*3px;
.item-1-2-title{
    @include discovery-title
}
.item-1-2-flex{
    display: flex;
    .item-1-2-col-1{
    @include discovery-col-1
    }
    .item-1-2-col-2{
    @include discovery-col-2
    }
    .item-1-2-col-3{
    @include discovery-col-2
    }
    .item-1-2-col-4{
    @include discovery-col-2
    }
    .item-1-2-col-5{
    @include discovery-col-2
    }
    .item-1-2-col-6{
    @include discovery-col-2
    }
    .item-1-2-col-7{
    @include discovery-col-2
    }
    .item-1-2-col-8{
    @include discovery-col-2
    }
}
}
.item-2-1{
    @include discovery-1;
    width: 210*3px;
    .item-2-1-title{
        @include discovery-title
    }
    .item-2-1-flex{
        display: flex;
        .item-2-1-col-1{
        @include discovery-col-1
        }
        .item-2-1-col-2{
        @include discovery-col-2
        }
        .item-2-1-col-3{
        @include discovery-col-2
        }
        .item-2-1-col-4{
        @include discovery-col-2
        }
        .item-2-1-col-5{
        @include discovery-col-2
        }
        .item-2-1-col-6{
        @include discovery-col-2
        }
        .item-2-1-col-7{
        @include discovery-col-2
        }
        .item-2-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-2-2{
    @include discovery-1;
    width: 210*5px;
    .item-2-2-title{
        @include discovery-title
    }
    .item-2-2-flex{
        display: flex;
        .item-2-2-col-1{
        @include discovery-col-1
        }
        .item-2-2-col-2{
        @include discovery-col-2
        }
        .item-2-2-col-3{
        @include discovery-col-2
        }
        .item-2-2-col-4{
        @include discovery-col-2
        }
        .item-2-2-col-5{
        @include discovery-col-2
        }
        .item-2-2-col-6{
        @include discovery-col-2
        }
        .item-2-2-col-7{
        @include discovery-col-2
        }
        .item-2-2-col-8{
        @include discovery-col-2
        }
    }
    }
.item-2-3{
    @include discovery-1;
    width: 210*5px;
    .item-2-3-title{
        @include discovery-title
    }
    .item-2-3-flex{
        display: flex;
        .item-2-3-col-1{
        @include discovery-col-1
        }
        .item-2-3-col-2{
        @include discovery-col-2
        }
        .item-2-3-col-3{
        @include discovery-col-2
        }
        .item-2-3-col-4{
        @include discovery-col-2
        }
        .item-2-3-col-5{
        @include discovery-col-2
        }
        .item-2-3-col-6{
        @include discovery-col-2
        }
        .item-2-3-col-7{
        @include discovery-col-2
        }
        .item-2-3-col-8{
        @include discovery-col-2
        }
    }
    }
.item-2-4{
    @include discovery-1;
    width: 210*4px;
    .item-2-4-title{
        @include discovery-title
    }
    .item-2-4-flex{
        display: flex;
        .item-2-4-col-1{
        @include discovery-col-1
        }
        .item-2-4-col-2{
        @include discovery-col-2
        }
        .item-2-4-col-3{
        @include discovery-col-2
        }
        .item-2-4-col-4{
        @include discovery-col-2
        }
        .item-2-4-col-5{
        @include discovery-col-2
        }
        .item-2-4-col-6{
        @include discovery-col-2
        }
        .item-2-4-col-7{
        @include discovery-col-2
        }
        .item-2-4-col-8{
        @include discovery-col-2
        }
    }
    }
.item-3-1{
    @include discovery-1;
    width: 210*3px;
    .item-3-1-title{
        @include discovery-title
    }
    .item-3-1-flex{
        display: flex;
        .item-3-1-col-1{
        @include discovery-col-1
        }
        .item-3-1-col-2{
        @include discovery-col-2
        }
        .item-3-1-col-3{
        @include discovery-col-2
        }
        .item-3-1-col-4{
        @include discovery-col-2
        }
        .item-3-1-col-5{
        @include discovery-col-2
        }
        .item-3-1-col-6{
        @include discovery-col-2
        }
        .item-3-1-col-7{
        @include discovery-col-2
        }
        .item-3-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-4-1{
    @include discovery-1;
    width: 210*5px;
    .item-4-1-title{
        @include discovery-title
    }
    .item-4-1-flex{
        display: flex;
        .item-4-1-col-1{
        @include discovery-col-1
        }
        .item-4-1-col-2{
        @include discovery-col-2
        }
        .item-4-1-col-3{
        @include discovery-col-2
        }
        .item-4-1-col-4{
        @include discovery-col-2
        }
        .item-4-1-col-5{
        @include discovery-col-2
        }
        .item-4-1-col-6{
        @include discovery-col-2
        }
        .item-4-1-col-7{
        @include discovery-col-2
        }
        .item-4-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-4-2{
    @include discovery-1;
    width: 210*5px;
    .item-4-2-title{
        @include discovery-title
    }
    .item-4-2-flex{
        display: flex;
        .item-4-2-col-1{
        @include discovery-col-1
        }
        .item-4-2-col-2{
        @include discovery-col-2
        }
        .item-4-2-col-3{
        @include discovery-col-2
        }
        .item-4-2-col-4{
        @include discovery-col-2
        }
        .item-4-2-col-5{
        @include discovery-col-2
        }
        .item-4-2-col-6{
        @include discovery-col-2
        }
        .item-4-2-col-7{
        @include discovery-col-2
        }
        .item-4-2-col-8{
        @include discovery-col-2
        }
    }
    }
.item-4-3{
    @include discovery-1;
    width: 210*4px;
    .item-4-3-title{
        @include discovery-title
    }
    .item-4-3-flex{
        display: flex;
        .item-4-3-col-1{
        @include discovery-col-1
        }
        .item-4-3-col-2{
        @include discovery-col-2
        }
        .item-4-3-col-3{
        @include discovery-col-2
        }
        .item-4-3-col-4{
        @include discovery-col-2
        }
        .item-4-3-col-5{
        @include discovery-col-2
        }
        .item-4-3-col-6{
        @include discovery-col-2
        }
        .item-4-3-col-7{
        @include discovery-col-2
        }
        .item-4-3-col-8{
        @include discovery-col-2
        }
    }
    }
.item-5-1{
@include discovery-1;
width: 210*5px;
.item-5-1-title{
@include discovery-title
}
.item-5-1-flex{
display: flex;
.item-5-1-col-1{
@include discovery-col-1
}
.item-5-1-col-2{
@include discovery-col-2
}
.item-5-1-col-3{
@include discovery-col-2
}
.item-5-1-col-4{
@include discovery-col-2
}
.item-5-1-col-5{
@include discovery-col-2
}
.item-5-1-col-6{
@include discovery-col-2
}
.item-5-1-col-7{
@include discovery-col-2
}
.item-5-1-col-8{
@include discovery-col-2
}
}
}
.item-6-1{
@include discovery-1;
width: 210*3px;
.item-6-1-title{
    @include discovery-title
}
.item-6-1-flex{
    display: flex;
    .item-6-1-col-1{
    @include discovery-col-1
    }
    .item-6-1-col-2{
    @include discovery-col-2
    }
    .item-6-1-col-3{
    @include discovery-col-2
    }
    .item-6-1-col-4{
    @include discovery-col-2
    }
    .item-6-1-col-5{
    @include discovery-col-2
    }
    .item-6-1-col-6{
    @include discovery-col-2
    }
    .item-6-1-col-7{
    @include discovery-col-2
    }
    .item-6-1-col-8{
    @include discovery-col-2
    }
}
}
.item-7-1{
    @include discovery-1;
    width: 210*5px;
    .item-7-1-title{
        @include discovery-title
    }
    .item-7-1-flex{
        display: flex;
        .item-7-1-col-1{
        @include discovery-col-1
        }
        .item-7-1-col-2{
        @include discovery-col-2
        }
        .item-7-1-col-3{
        @include discovery-col-2
        }
        .item-7-1-col-4{
        @include discovery-col-2
        }
        .item-7-1-col-5{
        @include discovery-col-2
        }
        .item-7-1-col-6{
        @include discovery-col-2
        }
        .item-7-1-col-7{
        @include discovery-col-2
        }
        .item-7-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-8-1{
    @include discovery-1;
    width: 210*5px;
    .item-8-1-title{
        @include discovery-title
    }
    .item-8-1-flex{
        display: flex;
        .item-8-1-col-1{
        @include discovery-col-1
        }
        .item-8-1-col-2{
        @include discovery-col-2
        }
        .item-8-1-col-3{
        @include discovery-col-2
        }
        .item-8-1-col-4{
        @include discovery-col-2
        }
        .item-8-1-col-5{
        @include discovery-col-2
        }
        .item-8-1-col-6{
        @include discovery-col-2
        }
        .item-8-1-col-7{
        @include discovery-col-2
        }
        .item-8-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-8-2{
    @include discovery-1;
    width: 210*7px;
    .item-8-2-title{
        @include discovery-title
    }
    .item-8-2-flex{
        display: flex;
        .item-8-2-col-1{
        @include discovery-col-1
        }
        .item-8-2-col-2{
        @include discovery-col-2
        }
        .item-8-2-col-3{
        @include discovery-col-2
        }
        .item-8-2-col-4{
        @include discovery-col-2
        }
        .item-8-2-col-5{
        @include discovery-col-2
        }
        .item-8-2-col-6{
        @include discovery-col-2
        }
        .item-8-2-col-7{
        @include discovery-col-2
        }
        .item-8-2-col-8{
        @include discovery-col-2
        }
    }
}
.item-9-1{
    @include discovery-1;
    width: 210*4px;
    .item-9-1-title{
        @include discovery-title
    }
    .item-9-1-flex{
        display: flex;
        .item-9-1-col-1{
        @include discovery-col-1
        }
        .item-9-1-col-2{
        @include discovery-col-2
        }
        .item-9-1-col-3{
        @include discovery-col-2
        }
        .item-9-1-col-4{
        @include discovery-col-2
        }
        .item-9-1-col-5{
        @include discovery-col-2
        }
        .item-9-1-col-6{
        @include discovery-col-2
        }
        .item-9-1-col-7{
        @include discovery-col-2
        }
        .item-9-1-col-8{
        @include discovery-col-2
        }
    }
}
.item-9-2{
    @include discovery-1;
    width: 210*3px;
    .item-9-2-title{
        @include discovery-title
    }
    .item-9-2-flex{
        display: flex;
        .item-9-2-col-1{
        @include discovery-col-1
        }
        .item-9-2-col-2{
        @include discovery-col-2
        }
        .item-9-2-col-3{
        @include discovery-col-2
        }
        .item-9-2-col-4{
        @include discovery-col-2
        }
        .item-9-2-col-5{
        @include discovery-col-2
        }
        .item-9-2-col-6{
        @include discovery-col-2
        }
        .item-9-2-col-7{
        @include discovery-col-2
        }
        .item-9-2-col-8{
        @include discovery-col-2
        }
    }
}
.item-9-3{
    @include discovery-1;
    width: 210*3px;
    .item-9-3-title{
        @include discovery-title
    }
    .item-9-3-flex{
        display: flex;
        .item-9-3-col-1{
        @include discovery-col-1
        }
        .item-9-3-col-2{
        @include discovery-col-2
        }
        .item-9-3-col-3{
        @include discovery-col-2
        }
        .item-9-3-col-4{
        @include discovery-col-2
        }
        .item-9-3-col-5{
        @include discovery-col-2
        }
        .item-9-3-col-6{
        @include discovery-col-2
        }
        .item-9-3-col-7{
        @include discovery-col-2
        }
        .item-9-3-col-8{
        @include discovery-col-2
        }
    }
}
.item-10-1{
    @include discovery-1;
    width: 210*2px;
    .item-10-1-title{
        @include discovery-title
    }
    .item-10-1-flex{
        display: flex;
        .item-10-1-col-1{
        @include discovery-col-1
        }
        .item-10-1-col-2{
        @include discovery-col-2
        }
        .item-10-1-col-3{
        @include discovery-col-2
        }
        .item-10-1-col-4{
        @include discovery-col-2
        }
        .item-10-1-col-5{
        @include discovery-col-2
        }
        .item-10-1-col-6{
        @include discovery-col-2
        }
        .item-10-1-col-7{
        @include discovery-col-2
        }
        .item-10-1-col-8{
        @include discovery-col-2
        }
    }
}
.item-10-2{
@include discovery-1;
width: 210*3px;
.item-10-2-title{
    @include discovery-title
}
.item-10-2-flex{
    display: flex;
    .item-10-2-col-1{
    @include discovery-col-1
    }
    .item-10-2-col-2{
    @include discovery-col-2
    }
    .item-10-2-col-3{
    @include discovery-col-2
    }
    .item-10-2-col-4{
    @include discovery-col-2
    }
    .item-10-2-col-5{
    @include discovery-col-2
    }
    .item-10-2-col-6{
    @include discovery-col-2
    }
    .item-10-2-col-7{
    @include discovery-col-2
    }
    .item-10-2-col-8{
    @include discovery-col-2
    }
}
}
.item-10-3{
    @include discovery-1;
    width: 210*4px;
    .item-10-3-title{
        @include discovery-title
    }
    .item-10-3-flex{
        display: flex;
        .item-10-3-col-1{
        @include discovery-col-1
        }
        .item-10-3-col-2{
        @include discovery-col-2
        }
        .item-10-3-col-3{
        @include discovery-col-2
        }
        .item-10-3-col-4{
        @include discovery-col-2
        }
        .item-10-3-col-5{
        @include discovery-col-2
        }
        .item-10-3-col-6{
        @include discovery-col-2
        }
        .item-10-3-col-7{
        @include discovery-col-2
        }
        .item-10-3-col-8{
        @include discovery-col-2
        }
    }
    }
.item-11-1{
    @include discovery-1;
    width: 210*3px;
    .item-11-1-title{
        @include discovery-title
    }
    .item-11-1-flex{
        display: flex;
        .item-11-1-col-1{
        @include discovery-col-1
        }
        .item-11-1-col-2{
        @include discovery-col-2
        }
        .item-11-1-col-3{
        @include discovery-col-2
        }
        .item-11-1-col-4{
        @include discovery-col-2
        }
        .item-11-1-col-5{
        @include discovery-col-2
        }
        .item-11-1-col-6{
        @include discovery-col-2
        }
        .item-11-1-col-7{
        @include discovery-col-2
        }
        .item-11-1-col-8{
        @include discovery-col-2
        }
    }
    }
.item-11-2{
@include discovery-1;
width: 210*4px;
.item-11-2-title{
@include discovery-title
}
.item-11-2-flex{
display: flex;
.item-11-2-col-1{
@include discovery-col-1
}
.item-11-2-col-2{
@include discovery-col-2
}
.item-11-2-col-3{
@include discovery-col-2
}
.item-11-2-col-4{
@include discovery-col-2
}
.item-11-2-col-5{
@include discovery-col-2
}
.item-11-2-col-6{
@include discovery-col-2
}
.item-11-2-col-7{
@include discovery-col-2
}
.item-11-2-col-8{
@include discovery-col-2
}
}
}
.item-11-3{
@include discovery-1;
width: 210*3px;
.item-11-3-title{
    @include discovery-title
}
.item-11-3-flex{
    display: flex;
    .item-11-3-col-1{
    @include discovery-col-1
    }
    .item-11-3-col-2{
    @include discovery-col-2
    }
    .item-11-3-col-3{
    @include discovery-col-2
    }
    .item-11-3-col-4{
    @include discovery-col-2
    }
    .item-11-3-col-5{
    @include discovery-col-2
    }
    .item-11-3-col-6{
    @include discovery-col-2
    }
    .item-11-3-col-7{
    @include discovery-col-2
    }
    .item-11-3-col-8{
    @include discovery-col-2
    }
}
}
.item-12-1{
    @include discovery-1;
    width: 210*2px;
    .item-12-1-title{
        @include discovery-title
    }
    .item-12-1-flex{
        display: flex;
        .item-12-1-col-1{
        @include discovery-col-1
        }
        .item-12-1-col-2{
        @include discovery-col-2
        }
        .item-12-1-col-3{
        @include discovery-col-2
        }
        .item-12-1-col-4{
        @include discovery-col-2
        }
        .item-12-1-col-5{
        @include discovery-col-2
        }
        .item-12-1-col-6{
        @include discovery-col-2
        }
        .item-12-1-col-7{
        @include discovery-col-2
        }
        .item-12-1-col-8{
        @include discovery-col-2
        }
    }
    }