
.proto{
    width: 200*5px;
    border: $color-ov-hover-border solid 0.5px;
    position: absolute;
    margin: 10% 10%;
    z-index:99;
    .proto-title{
      @include ov-title;
    }
    .proto-photo{
      @include ov-photo;
    }
    .proto-model-no{
      @include ov-no;
    }
    .proto-model-name{
      @include ov-name;
    }
    .proto-function{
      @include ov-function;
    }
    .proto-features{
      @include ov-features;
    }
    .proto-benefit{
      @include ov-benefit;
    }
    .proto-link{
      @include ov-link;
    }
}
.proto-display{
  display: none;
}