
// over-view seven items clicks
.proto-1{
  @include ov-1;
  width: 210*2px;
  .proto-1-title{
    @include ov-title
  }
  .proto-1-flex{
    display: flex;
    .proto-1-col-1{
      @include ov-col-1
    }
    .proto-1-col-2{
      @include ov-col-2
    }
    .proto-1-col-3{
      @include ov-col-2
    }
    .proto-1-col-4{
      @include ov-col-2
    }
    .proto-1-col-5{
      @include ov-col-2
    }
    .proto-1-col-6{
      @include ov-col-2
    }
  }
}
.proto-2{
  @include ov-1;
  width: 210*5px;
  .proto-2-title{
    @include ov-title
  }
  .proto-2-flex{
    display: flex;
    .proto-2-col-1{
      @include ov-col-1
    }
    .proto-2-scroll{
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
    }
    .proto-2-col-2{
      @include ov-col-2
      
    }
    .proto-2-col-3{
      @include ov-col-2
    }
    .proto-2-col-4{
      @include ov-col-2
    }
    .proto-2-col-5{
      @include ov-col-2
    }
    .proto-2-col-6{
      @include ov-col-2
    }
    .proto-2-col-7{
      @include ov-col-2
    }
    .proto-2-col-8{
      @include ov-col-2
    }
  }
}
.proto-3{
  @include ov-1;
  width: 210*5px;
  .proto-3-title{
    @include ov-title
  }
  .proto-3-flex{
    display: flex;
    .proto-3-col-1{
      @include ov-col-1
    }
    .proto-3-col-2{
      @include ov-col-2
    }
    .proto-3-col-3{
      @include ov-col-2
    }
    .proto-3-col-4{
      @include ov-col-2
    }
    .proto-3-col-5{
      @include ov-col-2
    }
    .proto-3-col-6{
      @include ov-col-2
    }
    .proto-3-col-7{
      @include ov-col-2
    }
    .proto-3-col-8{
      @include ov-col-2
    }
  }
}
.proto-4{
  @include ov-1;
  width: 210*5px;
  .proto-4-title{
    @include ov-title
  }
  .proto-4-flex{
    display: flex;
    .proto-4-col-1{
      @include ov-col-1
    }
    .proto-4-col-2{
      @include ov-col-2
    }
    .proto-4-col-3{
      @include ov-col-2
    }
    .proto-4-col-4{
      @include ov-col-2
    }
    .proto-4-col-5{
      @include ov-col-2
    }
    .proto-4-col-6{
      @include ov-col-2
    }
    .proto-4-col-7{
      @include ov-col-2
    }
    .proto-4-col-8{
      @include ov-col-2
    }
  }
}
.proto-5{
  @include ov-1;
  width: 210*5px;
  .proto-5-title{
    @include ov-title
  }
  .proto-5-flex{
    display: flex;
    .proto-5-col-1{
      @include ov-col-1
    }
    .proto-5-col-2{
      @include ov-col-2
    }
    .proto-5-col-3{
      @include ov-col-2
    }
    .proto-5-col-4{
      @include ov-col-2
    }
    .proto-5-col-5{
      @include ov-col-2
    }
    .proto-5-col-6{
      @include ov-col-2
    }
  }
}
.proto-6{
  @include ov-1;
  width: 210*5px;
  .proto-6-title{
    @include ov-title
  }
  .proto-6-flex{
    display: flex;
    .proto-6-col-1{
      @include ov-col-1
    }
    .proto-6-col-2{
      @include ov-col-2
    }
    .proto-6-col-3{
      @include ov-col-2
    }
    .proto-6-col-4{
      @include ov-col-2
    }
    .proto-6-col-5{
      @include ov-col-2
    }
    .proto-6-col-6{
      @include ov-col-2
    }
  }
}
.proto-7{
  @include ov-1;
  width: 210*5px;
  .proto-7-title{
    @include ov-title
  }
  .proto-7-flex{
    display: flex;
    overflow: scroll;
    .proto-7-col-1{
      @include ov-col-1
    }
    .proto-7-scroll{
      display: flex;
      overflow: scroll;
    }
    .proto-7-col-2{
      @include ov-col-2
    }
    .proto-7-col-3{
      @include ov-col-2
    }
    .proto-7-col-4{
      @include ov-col-2
    }
    .proto-7-col-5{
      @include ov-col-2
    }
    .proto-7-col-6{
      @include ov-col-2
    }
  }
}
.proto-display{
  display: none;
}
