#item-rwd-12-2 {
  @include discovery-rwd;

  .item-rwd-12-2 {
    @include discovery-rwd-1;

    .item-rwd-12-2-title {
      @include discovery-rwd-title;
    }

    .item-rwd-12-2-flex {
      @include discovery-rwd-flex-1;

      .item-rwd-12-2-col-1 {
        @include discovery-rwd-col-1;
        height: 930px;
      }

      .item-rwd-12-2-scroll {
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
        height: auto;
      }

      .item-rwd-12-2-col-2 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-3 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-4 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-5 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-6 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-7 {
        @include discovery-rwd-col-2
      }

      .item-rwd-12-2-col-8 {
        @include discovery-rwd-col-2
      }

      .proto-overlay {
        display: flex;
        overflow-x: scroll;
      }
    }
  }
}
