@charset "utf-8";

/*----------------------------------------
  Yoursite Style
----------------------------------------*/
*{
  font-family: $eng-font;
  text-decoration: none;
}
  .banner-text{
    box-sizing: border-box;
    padding: 20px 0 0 50px ;
    position: absolute;
    h1{
      font-size: $H1-PC-font;
      color:$color-advanblue;
    };
    h3{
      font-size: $H3-font;
      color:$color-advanblue;
      line-height: 5px;
    };
  }

.bg-cover{
  position: absolute;
  background:$color-banner-bg ;
  background-size:  410px 410px;
  height: 450px;
  width: 100%;
  z-index: -1;
}