main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:$color-pdf-blue;
    margin: 0 0 50px 0;
    strong{
        font-size: $H2-PC-font;
        color: $color-black;
        margin: 50px 0 50px 0;
    }
    .discover-img{
        background-image:url('./css-img/discovery_1.png');
        background-repeat: no-repeat;
        height:323px;
        width:100%;
    }
    .product1{
        display: flex;
        width: 100%;
        justify-content:center;
        align-items: center;
        height: 295px;
        margin:50px 0 0 0;
        border: lightslategray sloid 1px;
        .factory1-img{
            background-image: url('./css-img/Factory_1.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 352px;
            max-width: 1200px;
        }
        .factory-auto{
            background-color: $color-dark-bg-white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 800px;
            height: 100%;
            font-size: $H4-font;
            word-wrap:break-word;
            line-height: 1.3em;
            .factory-para1{
                margin:40px 52px 0 52px;
                hyphens: auto;
            }
            .factory-icon{
                display: flex;
                justify-content: center;
                height: 210px;
                width:100%;
                font-weight: bold;
                color:$color-advanblue;
                margin: 20px 0 0 0;
                .factory-1{
                    background-image: url('./css-img/Factory_icon_1.jpg');
                    background-repeat: no-repeat;
                    width: 150px;
                    padding: 105px 0 0 10px;
                    margin: 0 0 0 100px;
                }
                .factory-2{
                    background-image: url('./css-img/Factory_icon_2.jpg');
                    background-repeat: no-repeat;
                    width: 150px;
                    padding: 105px 0 0 10px;
                    margin: 0 0 0 50px;
                }
                .factory-3{
                    background-image: url('./css-img/Factory_icon_3.jpg');
                    background-repeat: no-repeat;
                    background-position: left 30px bottom 110px;
                    width: 200px;
                    padding: 105px 0 0 0;
                    margin: 0 50px 0 30px;
                    text-align: center;
                }
            }
        }
    }
    .product2{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 295px;
        margin:50px 0 0 0;
        .E-E-img{
            background-image: url('./css-img/E_E_1.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 352px;
        }
        .E-E{
            background-color: $color-dark-bg-white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 800px;
            height: 100%;
            font-size: $H4-font;
            line-height: 1.3em;
            .E-E-para1{
                margin:40px 52px 0 50px;
            }
            .E-E-icon{
                display: flex;
                justify-content: center;
                height: 210px;
                width:100%;
                font-weight: bold;
                color:$color-advanblue;
                margin: 20px 0 0 0;
                .E-E-1{
                    background-image: url('./css-img/E_E_icon_1.jpg');
                    background-repeat: no-repeat;
                    width: 150px;
                    padding: 105px 0 0 10px;
                    margin: 0 0 0 100px;
                }
                .E-E-2{
                    background-image: url('./css-img/E_E_icon_2.jpg');
                    background-repeat: no-repeat;
                    width: 180px;
                    padding: 105px 0 0 10px;
                    margin: 0 0 0 50px;
                }
                .E-E-3{
                    background-image: url('./css-img/E_E_icon_3.jpg');
                    background-repeat: no-repeat;
                    background-position: left 30px bottom 110px;
                    width: 200px;
                    padding: 105px 0 0 0;
                    margin: 0 50px 0 30px;
                    text-align: center;
                }
            }
        }
    }
    .product3{
        display: flex;
        justify-content:center;
        align-items: center;
        height: 295px;
        margin:50px 0 50px 0;
        .transport-img{
            background-image: url('./css-img/transportation_1.jpg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            width: 352px;
        }
        .transport{
            background-color: $color-dark-bg-white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 800px;
            height: 100%;
            hyphens: auto;
            font-size: $H4-font;
            line-height: 1.3em;
            .transport-para1{
                margin:40px 52px 0 60px;
            }
            .transport-icon{
                display: flex;
                justify-content: center;
                height: 210px;
                width:100%;
                font-weight: bold;
                color:$color-advanblue;
                margin: 20px 0 0 0;
                .transport-1{
                    background-image: url('./css-img/transportation_icon_1.jpg');
                    background-repeat: no-repeat;
                    background-position: left 30px bottom 100px;
                    width: 220px;
                    padding: 105px 0 0 0;
                    margin: 0 0 0 50px;
                    text-align: center;
                }
                .transport-2{
                    background-image: url('./css-img/transportation_icon_2.jpg');
                    background-repeat: no-repeat;
                    background-position: right 40px bottom 100px;
                    width: 180px;
                    padding: 105px 0 0 30px;
                    margin: 0 0 0 10px;
                }
                .transport-3{
                    background-image: url('./css-img/transportation_icon_3.jpg');
                    background-repeat: no-repeat;
                    background-position: left 30px bottom 100px;
                    width: 200px;
                    padding: 105px 0 0 0;
                    margin: 0 50px 0 30px;
                    text-align: center;
                }
            }
        }
    }
}  