.dmp2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
width: 100%;
    .dmp2-title-logo {
        display: flex;

        #dmp2-title {
            font-size: $H2-PC-font;
            font-weight: bold;

            img {
                max-width: 100%;
            }
        }
    }

    .dmp2-para1 {
        font-size: $H3-font;
        margin: 5px 0 0 0;
        line-height: 1.3em;
        padding: 0 40px 0 40px;
        text-align: center;
    }

    .dmp2-para2 {
        font-size: $H3-font;
        margin: 30px 100px 50px 80px;
        line-height: 1.3em;
        text-align: center;
    }

    .fea-advan {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0 0 50px 0;

        .fea-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 70px 0 10px;

            .features {
                color: $color-dmp-color;
                font-size: $H3-font;
                font-weight: bold;
                margin: 0 0 15px 0;
            }

            ul {
                font-size: $H4-font;
                color: $color-black;
                padding: 20px 0 0 30px;
                width: 370px;
                border-top: solid 2px $color-pdf-unknown-blue;
                border-left: solid 6px $color-pdf-unknown-blue;
                line-height: 1.3em;
            }


        }

        .advan-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px 0 0;
            white-space: nowrap;

            .advantages {
                color: $color-dmp-color;
                font-size: $H3-font;
                font-weight: bold;
                margin: 0 0 15px 0;
            }

            ul {
                font-size: $H4-font;
                color: $color-black;
                padding: 20px 0 0 30px;
                line-height: 1.3em;
                border-top: solid 2px $color-pdf-unknown-blue;
                border-left: solid 6px $color-pdf-unknown-blue;
                width: 370px;
                height: 160px;
            }


        }
    }

    figure>img {
        margin: 0 0 50px 0;
        max-width: 100%;
    }
}

//RWD
@media(max-width:580px) {
    .dmp2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dmp2-title-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0 10px 0;

            #dmp2-title {
                font-size: $H2-MB-font;
                text-align: center;
                align-content: center;
                justify-content: center;
                font-weight: bold;
                margin: 0 10px 20px 10px;
                overflow: hidden;

                img {
                    max-width: 100%;
                }
            }
        }

        .dmp2-para1 {
            font-size: $H3-font;
            text-align: center;
            line-height: 1.3em;
            padding: 0 40px 0 40px;
        }

        .dmp2-para2 {
            font-size: $H3-font;
            margin: 30px 40px 50px 40px;
            line-height: 1.3em;
            text-align: center;
        }

        .fea-advan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 50px 0;
            max-width: 100%;
            width: 100%;

            .fea-flex {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 30px 30px 0;
                max-width: 100%;
                width: 100%;

                .features {
                    color: $color-dmp-color;
                    font-size: $H3-font;
                    font-weight: bold;
                    margin: 0 0 15px 0;
                    line-height: 1.3em;
                }

                ul {
                    font-size: $H4-font;
                    color: $color-black;
                    padding: 20px 0 0 30px;
                    border-top: solid 2px $color-pdf-unknown-blue;
                    border-left: solid 6px $color-pdf-unknown-blue;
                    line-height: 1.3em;
                    max-width: 100%;
                    width: auto;
                    list-style-position: inside;
                }


            }

            .advan-flex {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 30px 0 0;
                white-space: normal;
                max-width: 100%;
                width: 100%;

                .advantages {
                    color: $color-dmp-color;
                    font-size: $H3-font;
                    font-weight: bold;
                    margin: 0 0 15px 0;
                    line-height: 1.3em;
                }

                ul {
                    font-size: $H4-font;
                    color: $color-black;
                    padding: 20px 0 0 30px;
                    border-top: solid 2px $color-pdf-unknown-blue;
                    border-left: solid 6px $color-pdf-unknown-blue;
                    line-height: 1.3em;
                    max-width: 100%;
                    width: auto;
                    height: 100%;
                    list-style-position: inside;
                }


            }
        }

        figure>img {
            margin: 0 0 50px 0;
            max-width: 100%;
        }
    }
}