// dorp down menu Applicarions & Products
.drop-down-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin:20px 0 0 0;
  background-color: $color-nav-bg;
  line-height: 20px;
  .nav-resources>a{
    border-style: none;
  }
  .nav-products:hover>a{
    background-color: $color-nav-bg;
  }
  li{
    position: relative;
    white-space: nowrap;  
  }
  li:last-child {
    border-right: none;
  }
  a {
    background-color: $color-nav-bg;
    border-right: 3px solid white;
    cursor: pointer;
    display: block;
    padding: 10px 25px 10px 25px; 
    text-decoration: none;
    color:$color-dark-bg-white;
    font-size: $H3-font;
  }
  a:first-letter{
    text-transform: uppercase;
  }
  a:hover { 
    background-color: $color-nav-selec-1;
  }
  li:hover > a { 
    background-color:$color-nav-selec-1;
  }
  li:hover > ul { 
    display: block;
  }
  ul {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    display: none;
    border-style: none;
    list-style: none;
    li{
      position: relative;
      white-space: nowrap;
      border-top: $color-dark-bg-white 1px solid;
      border-bottom: $color-dark-bg-white 1px solid;;
      text-align: center;
      cursor: pointer;
    }
    li:last-child {
      border-right: none;
    }
    a {
      background-color: $color-nav-selec-1*0.95;
      border-right: 3px solid $color-dark-bg-white;
      display: block;
      padding: 10px 28px 10px 25px; 
      text-decoration: none;
      color:$color-dark-grey;
      font-size: $H4-font;
      font-weight: bold;
    }
    li:nth-child(1) a{
      border-top: 1px solid $color-dark-bg-white;
    }
    a:hover { 
      background-color:  $color-nav-bg-hover;
    }
    li:hover > a { 
      background-color: $color-nav-bg-hover;
    }
    li:hover > ul { 
      display: block;
    }
    ul { 
      z-index: 999;
      cursor: pointer;
      top: 0;
      left: 100%; 
      border: white 1px solid;
      position: absolute;
      display: none;
      border-style: none;
      list-style: none;
      li{
        position: relative;
        white-space: nowrap;
        border-style: none;
        width:auto;
      }
      li:last-child {
        border-right: none;
      }
      a {
        background-color:$color-nav-selec-1 ;
        border-right: 3px solid white;
        display: block;
        border-style: none;
        padding: 10px 25px 10px 25px; 
        text-decoration: none;
        color:$color-discovery-apptext;
        border-top: $color-dark-bg-white 1.5px solid;
        border-bottom: $color-dark-bg-white 1.5px solid;;
        border-right: 3px solid white;
        font-size: $H4-font;
      }
      a:hover { 
        background-color: $color-nav-bg-hover;
      }
      li:hover > a { 
        background-color:$color-nav-bg-hover;
      }
      li:hover > ul { 
        display: block;
      }
      ul{
        a{
          background-color: rgb(171, 218, 233);
        }
      }

    }
  }
}

 /*  ul.drop-down-menu { 
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin:20px 0 0 0;
    background-color: $color-nav-bg;
    line-height: 20px;
  }
  ul.drop-down-menu li {
    position: relative;
    white-space: nowrap;
  }
  ul.drop-down-menu > li:last-child {
    border-right: none;
  }
  ul.drop-down-menu a {
    background-color:  #008CD6;
    border-right: 3px solid white;
    display: block;
    padding: 10px 25px 10px 25px; 
    text-decoration: none;
    color:white;
    font-size: $H3-font;
  }
  ul.drop-down-menu a:hover { 
    background-color:  #8ccfe7;
  }
  ul.drop-down-menu li:hover > a { 
    background-color: #8ccfe7;
  }
  
  ul.drop-down-menu li:nth-last-child(1) a{
    border-style: none;
  }
  ul.drop-down-menu ul {
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
  }
  ul.drop-down-menu ul ul { 
    z-index: 999;
    top: 10px;
    left: 90%;
  }
  ul.drop-down-menu ul { 
    display: none;
  }
  ul.drop-down-menu li:hover > ul { 
    display: block;
  } */