
#overview1{
        display: flex;
        margin-top: 70px;
        .ov1-title{
            display: flex;
            flex-direction: column;
            width:100%;
            margin: 60px 0 0 70px;
            .ov1-para1{
                font-size: $H2-PC-font;
                width:100%;
                font-weight: bold;
                line-height: 1.3em;
            }
            .ov1-para2{
                margin:10px 0 0 0;
                width:100%;
                font-size: $H4-font;
                line-height: 1.3em;
            }
        }
    }
#overview2{
    display: flex;
    margin:10px 0 50px 0;
    .ov2-title2{
        display: flex;
        flex-direction: column;
        width:100%;
        .ov2-para1{
            font-size:$H2-PC-font;
            font-weight: bold;
            line-height: 1.3em;
            width:100%;
        }
        .ov2-para2{
            margin: 20px 0 0 0;
            font-size: $H4-font;
            line-height: 1.3em;
            width:100%;
        }
        .ov2-para3{
            margin: 20px 0 5px 0;
            font-size: $H3-font;
            font-weight: bold;
            line-height: 1.3em;
        }
        .ov2-para4{
            flex-wrap: wrap;
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
            font-size: $H3-font;
            font-weight: bold;
            .ov2-1{
            @include ov2-para4-css 
            }@include ov2-para4-hover;
            .ov2-2{
            @include ov2-para4-css
            }@include ov2-para4-hover;
            .ov2-3{
            @include ov2-para4-css
            }@include ov2-para4-hover;
            .ov2-4{
                @include ov2-para4-css
            }@include ov2-para4-hover;
            .ov2-5{
                @include ov2-para4-css
            }@include ov2-para4-hover;
            .ov2-6{
                @include ov2-para4-css           
            }@include ov2-para4-hover;
            .ov2-7{
                @include ov2-para4-css
            }@include ov2-para4-hover;
        }
    }
    .ov2-pic{
        margin: 0 0 0 35px;
        width:100%;
    }
    .ov1-pic{
        width:100%;
    }
}

