
// over-view-click-table-1- column
@mixin ov-1{
    border: $color-ov-hover-border solid 1.5px;
    z-index:1000;
    position: fixed;
    top:10%;
    left:50%; 
    margin-left: -520px;
    height: 700px;
    overflow: scroll;
}
@mixin ov-title {
    display: flex; 
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    background: $color-ov-hover-title;
    font-size: $H2-PC-font ;
    font-weight: bold;
    height: 60px;
    color:white;
    box-sizing: border-box;
}
@mixin ov-flex-1 {
    display: flex;
}
@mixin ov-col-1{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        background: white;
        font-size: $H5-font;
        justify-content: center;
        align-items: center;
        width:210px;
        box-sizing: border-box;
        
    >div{
        box-sizing: border-box;
        height: 60px;
        width:210px;
        display: flex;
        flex-wrap:wrap;
        text-align: left;
        padding: 0 0 0 10px;
        font-size: $H5-font;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
        border-right: $color-ov-hover-border solid 0.1px;
    }
    :nth-child(1){
        height: 200px;
    }
    :nth-child(2){
        background: $color-ov-hover-no;
        display: flex;
    }
    :nth-child(4){
        background: $color-ov-hover-no;

    }
    :nth-child(5){
        height: 250px;

    }
    :nth-child(6){
        background: $color-ov-hover-no;
        height: 300px;
    }
}
@mixin ov-col-2{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background: white;
    font-size: $H5-font;
    justify-content: center;
    align-items: center;
    width:210px;
    box-sizing: border-box;
>div{
    box-sizing: border-box;
    height: 60px;
    width:210px;
    display: flex;
    flex-wrap:wrap;
    text-align: left;
    font-size: $H5-font;
    box-sizing: border-box;
    justify-content: flex-start;
    border-right: $color-ov-hover-border solid 0.1px;
}
div:nth-child(1){
    height: 200px;
    
}
div:nth-child(2){
    background: $color-ov-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
}
div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 5px 0 5px;
}
div:nth-child(4){
    background: $color-ov-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
div:nth-child(5){
    position: relative;
    height: 250px;
    ul {
        list-style-type: none;
        font-size: $H5-font*0.75;
        word-break: break-all;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
div:nth-child(6){
    background: $color-ov-hover-no;
    height: 300px;
    position: relative;
    ul {
        list-style-type: none;
        word-break: keep-all;
        font-size: $H5-font*0.75;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
}

// discover our products

@mixin discovery-1{
    border:$color-discovery-hover-border solid 1.5px;
    background-color: $color-discovery-hover-title;
    z-index:99;
    position: fixed;
    top:10%;
    left:50%; 
    margin-left: -420px;
    height: 700px;
    overflow: scroll;
}
@mixin discovery-title {
    display: flex; 
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    background: $color-discovery-hover-title;
    font-size: $H2-PC-font *0.75;
    text-align: center;
    font-weight: bold;
    height: 60px;
    color:white;
    
}
@mixin discovery-flex-1 {
    display: flex;
}
@mixin discovery-col-1{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        background: white;
        font-size: $H5-font;
        justify-content: center;
        align-items: center;
        width:210px;
        box-sizing: border-box;
    >div{
        box-sizing: border-box;
        height: 60px;
        width:210px;
        display: flex;
        flex-wrap:wrap;
        text-align: left;
        padding: 0 0 0 10px;
        font-size: $H5-font;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
        border-right: $color-discovery-hover-border solid 0.1px;
    }
    :nth-child(1){
        height: 200px;
    }
    :nth-child(2){
        background:$color-discovery-hover-no;
        display: flex;
    }
    :nth-child(4){
        background:$color-discovery-hover-function;
    }
    :nth-child(5){
        height: 250px;
        display: flex;
        align-content: flex-start;
        padding:30px 0 0 10px;
    }
    :nth-child(6){
        background: $color-discovery-hover-wifi;    

    }
    :nth-child(8){
        background: $color-discovery-hover-link;
    }
}
@mixin discovery-col-2{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background: white;
    font-size: $H5-font;
    justify-content: center;
    align-items: center;
    width:210px;
    box-sizing: border-box;
>div{
    box-sizing: border-box;
    height: 60px;
    width:210px;
    display: flex;
    flex-wrap:wrap;
    text-align: left;
    font-size: $H5-font;
    box-sizing: border-box;
    justify-content: flex-start;
    border-right: $color-discovery-hover-border solid 0.1px;
}
div:nth-child(1){
    height: 200px;
}
div:nth-child(2){
    background: $color-discovery-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(4){
    background: $color-discovery-hover-function;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(5){
    height: 250px;
    position: relative;
    ul {
        list-style-type: none;
        font-size: $H5-font*0.75;
        word-break: break-all;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
div:nth-child(6){
    background: $color-discovery-hover-wifi;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(8){
    background: $color-discovery-hover-link;
    display: flex;
}
.item-image{
    position: relative;
}
.item-image>div{
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin-top:5px;
}
}


// over-view-click
@mixin ov2-para4-css{
    margin: 5px 3px 0 3px;
    color: $color-pdf-unknown-blue;
    border: solid 2px $color-pdf-unknown-blue;
    padding: 7px 20px 7px 20px;
    border-radius: 30px;    
    cursor: pointer;
    :hover{
        border: solid 2px $color-nav-bg;
        color:$color-nav-bg;
    }   
}
@mixin ov2-para4-hover{
    :hover{
        border: solid 2px $color-nav-bg;
        color:$color-nav-bg;
    }
}
