
// over-view-click-table-1- column
@mixin ov-1{
    border: $color-ov-hover-border solid 1.5px;
    z-index:99;
    position: fixed;
    top: 1%;
    left:1%;
    height: 700px;
    overflow-y: scroll;
}
@mixin ov-title {
    display: flex; 
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    background: $color-ov-hover-title;
    font-size: $H2-PC-font ;
    font-weight: bold;
    height: 60px;
    color:white;
    box-sizing: border-box;
}
@mixin ov-flex-1 {
    display: flex;
}
@mixin ov-col-1{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        background: white;
        font-size: $H5-font;
        justify-content: center;
        align-items: center;
        width:210px;
        box-sizing: border-box;
        
    >div{
        box-sizing: border-box;
        height: 60px;
        width:210px;
        display: flex;
        flex-wrap:wrap;
        text-align: left;
        padding: 0 0 0 10px;
        font-size: $H5-font;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
        border-right: $color-ov-hover-border solid 0.1px;
    }
    :nth-child(1){
        height: 200px;
    }
    :nth-child(2){
        background: $color-ov-hover-no;
        display: flex;
    }
    :nth-child(4){
        background: $color-ov-hover-no;

    }
    :nth-child(5){
        height: 250px;

    }
    :nth-child(6){
        background: $color-ov-hover-no;
        height: 300px;
    }
}
@mixin ov-col-2{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background: white;
    font-size: $H5-font;
    justify-content: center;
    align-items: center;
    width:210px;
    box-sizing: border-box;
>div{
    box-sizing: border-box;
    height: 60px;
    width:210px;
    display: flex;
    flex-wrap:wrap;
    text-align: left;
    font-size: $H5-font;
    box-sizing: border-box;
    justify-content: flex-start;
    border-right: $color-ov-hover-border solid 0.1px;
}
div:nth-child(1){
    height: 200px;
    
}
div:nth-child(2){
    background: $color-ov-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
}
div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 5px 0 5px;
}
div:nth-child(4){
    background: $color-ov-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
div:nth-child(5){
    position: relative;
    height: 250px;
    ul {
        list-style-type: none;
        font-size: $H5-font*0.75;
        word-break: break-all;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
div:nth-child(6){
    background: $color-ov-hover-no;
    height: 300px;
    position: relative;
    ul {
        list-style-type: none;
        word-break: keep-all;
        font-size: $H5-font*0.75;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
}

// discover our products

@mixin discovery-1{
    border:$color-discovery-hover-border solid 1.5px;
    background-color: $color-discovery-hover-title;
    z-index:99;
    top: 1%;
    left:1%;
    height: 700px;
    overflow-y: scroll;
}
@mixin discovery-title {
    display: flex; 
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    background: $color-discovery-hover-title;
    font-size: $H2-PC-font *0.75;
    text-align: center;
    font-weight: bold;
    height: 60px;
    color:white;
    
}
@mixin discovery-flex-1 {
    display: flex;
}
@mixin discovery-col-1{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        background: white;
        font-size: $H5-font;
        justify-content: center;
        align-items: center;
        width:210px;
        box-sizing: border-box;
    >div{
        box-sizing: border-box;
        height: 60px;
        width:210px;
        display: flex;
        flex-wrap:wrap;
        text-align: left;
        padding: 0 0 0 10px;
        font-size: $H5-font;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
        border-right: $color-discovery-hover-border solid 0.1px;
    }
    :nth-child(1){
        height: 200px;
    }
    :nth-child(2){
        background:$color-discovery-hover-no;
        display: flex;
    }
    :nth-child(4){
        background:$color-discovery-hover-function;
    }
    :nth-child(5){
        height: 250px;
        display: flex;
        align-content: flex-start;
        padding:30px 0 0 10px;
    }
    :nth-child(6){
        background: $color-discovery-hover-wifi;    

    }
    :nth-child(8){
        background: $color-discovery-hover-link;
    }
}
@mixin discovery-col-2{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    background: white;
    font-size: $H5-font;
    justify-content: center;
    align-items: center;
    width:210px;
    box-sizing: border-box;
>div{
    box-sizing: border-box;
    height: 60px;
    width:210px;
    display: flex;
    flex-wrap:wrap;
    text-align: left;
    font-size: $H5-font;
    box-sizing: border-box;
    justify-content: flex-start;
    border-right: $color-discovery-hover-border solid 0.1px;
}
div:nth-child(1){
    height: 200px;
}
div:nth-child(2){
    background: $color-discovery-hover-no;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(4){
    background: $color-discovery-hover-function;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(5){
    height: 250px;
    position: relative;
    ul {
        list-style-type: none;
        font-size: $H5-font*0.75;
        word-break: break-all;
        padding: 10px 10px 0 25px;
    }
    ul li:before {
        content: '-';
        position: absolute;
        margin-left: -15px;
    }
}
div:nth-child(6){
    background: $color-discovery-hover-wifi;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div:nth-child(8){
    background: $color-discovery-hover-link;
    display: flex;
}
.item-image>div{
    width: 50px;
    height: 50px;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    margin: 5px 0 0 0;
}
}











/* 



// over-view-click-table-1- row

@mixin ov-photo{
    display: flex; flex-direction:column;
    flex-wrap:wrap;
    height:200px;
    background:white;
    >div{
        width:210px;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        height: 200px;
    }
}
@mixin ov-no{
    display: flex; flex-direction:column;
    background: $color-ov-hover-no;
    >div{
        width:210px;
        font-size: $H5-font;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        display: flex; flex-direction:column;
        flex-wrap:wrap;
        justify-content: center;
        align-content: center;
        height: 50px;  
    }
    >div:nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 0 0 0 10px;
    }
}
@mixin ov-name{
    display: flex; flex-direction:column;
    background:white;
    >div{
        width:210px;
        font-size: $H5-font;
        height:100px;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        display: flex; flex-direction:column;
        flex-wrap:wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    :nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 0 0 0 10px;
    }
}
@mixin ov-function{
    display: flex; flex-direction:column;
    background: $color-ov-hover-function;
    >div{
        width:210px;
        font-size: $H5-font;
        display: flex; flex-direction:column;
        flex-wrap:wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
        height: 50px;  
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
    }
    :nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 0 0 0 10px;
    }
}
@mixin ov-features{
    display: flex; flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-around;
    word-break: keep-all;
    background:white;
    >div{
        width:210px;
        font-size: $H5-font;
        display: flex; flex-direction:column;
        flex-wrap:wrap;
        height: 300px;  
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        padding:10px 0 0 10px;
    }
    :nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 50px 0 0 10px;
    }
}
@mixin ov-benefit{
    display: flex; flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-around;
    background: $color-ov-hover-benefit;
    height: 350px;
    >div{
        width:210px;
        font-size: $H5-font;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        padding:10px 0 0 10px;
    }
    :nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 50px 0 0 10px;
    }
}
@mixin ov-link{
    display: flex; flex-direction:column;
    background:white;
    >div{
        width:210px;
        font-size: $H5-font;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        display: flex; flex-direction:column;
        flex-wrap:wrap;
        justify-content: center;
        align-content: center;
        height: 50px;  
    }
    >div:nth-child(1){
        text-align: left;
        justify-content: flex-start;
        padding: 0 0 0 10px;
    }
}
// over-view-click-table-2-row

@mixin ov-2-proto {
    border:$color-dark-grey 2px solid;
}
@mixin ov-2-title{
   display: flex; 
   flex-wrap:wrap;
   justify-content: center;
   align-content: center;
   background: $color-ov-hover-title;
   font-size: $H3-font;
   height: 60px;
   color:white;
}
@mixin ov-2-photo{
    display: flex; flex-direction:column;
    flex-wrap:wrap;
    height:200px;
    background:white;
    >div{
        width:150px;
        border: $color-ov-hover-border solid 0.1px;
        box-sizing: border-box;
        height: 200px;
    }
}
@mixin ov-2-no{
   display: flex; flex-direction:column;
   background: $color-ov-hover-no;
   >div{
       width:150px;
       font-size: $H5-font;
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       justify-content: center;
       align-content: center;
       height: 50px;  
   }
   >div:nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
       font-size: $H5-font;
   }
}
@mixin ov-2-name{
   display: flex; flex-direction:column;
   background:white;
   >div{
       width:150px;
       font-size: $H5-font;
       height:100px;
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       text-align: center;
       justify-content: center;
       align-content: center;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
@mixin ov-2-function{
   display: flex; flex-direction:column;
   background: $color-ov-hover-function;
   >div{
       width:150px;
       font-size: $H5-font;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       text-align: center;
       justify-content: center;
       align-content: center;
       height: 50px;  
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
@mixin ov-2-features{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: space-around;
   word-break: keep-all;
   background:white;
   >div{
       width:150px;
       font-size: $H5-font;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       height: 300px;  
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
       padding:10px 0 0 10px;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 50px 0 0 10px;
   }
}
@mixin ov-2-benefit{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: space-around;
   background: $color-ov-hover-benefit;
   height: 300px;
   >div{
       width:150px;
       font-size: $H5-font;
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
       padding:10px 0 0 10px;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 50px 0 0 10px;
   }
}
@mixin ov-2-link{
   display: flex; flex-direction:column;
   background:white;
   >div{
       width:150px;
       font-size: $H5-font;
       border: $color-ov-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       justify-content: center;
       align-content: center;
       height: 50px;  
   }
   >div:nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
// discovery-scss-proto-1
@mixin discovery-proto {
    width: 800px;
}
@mixin discovery-title{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: center;
   align-content: center;
   background: $color-discovery-hover-title;
   font-size: $H3-font;
   height: 60px;
   color:white;
}
@mixin discovery-photo{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: space-around;
   height:180px;
   background:white;
   >div{
       width:210px;
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       height: 180px;
       display: flex; flex-direction:column;
       justify-content: center;
       align-content: center;
   }
}
@mixin discovery-no{
   display: flex; flex-direction:column;
   background: $color-discovery-hover-no;
   >div{
       width:210px;
       font-size: $H5-font;
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       text-align: center;
       justify-content: center;
       align-content: center;
       height: 50px;  
   }
   >div:nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
@mixin discovery-name{
   display: flex; flex-direction:column;
   background:white;
   >div{
       width:210px;
       font-size: $H5-font;
       height:100px;
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       text-align: center;
       justify-content: center;
       align-content: center;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
@mixin discovery-function{
   display: flex; flex-direction:column;
   background: $color-discovery-hover-function;
   >div{
       width:210px;
       font-size: $H5-font;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       text-align: center;
       justify-content: center;
       align-content: center;
       height: 50px;  
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
@mixin discovery-features{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: space-around;
   word-break: keep-all;
   background:white;
   >div{
       width:210px;
       font-size: $H5-font;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       height: 150px;  
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       padding:10px 0 0 10px;
   }
   :nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 50px 0 0 10px;
   }
}
@mixin discovery-benefit{
   display: flex; flex-direction:column;
   flex-wrap:wrap;
   justify-content: space-around;
   background: $color-discovery-hover-benefit;
   height: 70px;
   >div{
       width:210px;
       font-size: $H5-font;
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       justify-content: center;
       align-items: center;
   }
   :nth-child(1){
    justify-content: flex-start;
    padding: 0 0 0 10px;
   }
}
@mixin discovery-resources{
    display: flex; flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-around;
    background: white;
    height: 70px;
    >div{
        width:210px;
        font-size: $H5-font;
        border: $color-discovery-hover-border solid 0.1px;
        box-sizing: border-box;
    }
    :nth-child(1){
        text-align: left;
        line-height: 70px;
        padding:0 0 0 10px;
    }
 }
@mixin discovery-link{
   display: flex; flex-direction:column;
   background:$color-discovery-hover-link;

   >div{
       width:210px;
       border: $color-discovery-hover-border solid 0.1px;
       box-sizing: border-box;
       display: flex; flex-direction:column;
       flex-wrap:wrap;
       justify-content: center;
       align-content: center;
       height: 50px;  
   }
   >div:nth-child(1){
       text-align: left;
       justify-content: flex-start;
       padding: 0 0 0 10px;
   }
}
 */
// over-view-click
@mixin ov2-para4-css{
    margin: 5px 3px 0 3px;
    color: $color-pdf-unknown-blue;
    border: solid 2px $color-pdf-unknown-blue;
    padding: 7px 20px 7px 20px;
    border-radius: 30px;    
    cursor: pointer;
    :hover{
        border: solid 2px $color-nav-bg;
        color:$color-nav-bg;
    }   
}
@mixin ov2-para4-hover{
    :hover{
        border: solid 2px $color-nav-bg;
        color:$color-nav-bg;
    }
}
