$color-black: #000000;
$color-dark-grey: #4D4D4D;
$color-advanblue: #004280;
$color-resources-name:#005582;
$color-dark-bg-white: #FFFFFF;
$color-map-E:#89AAD9;
$color-pdf-blue:#E3F1FF;
$color-pdf-unknown-blue: #00c1db;
$color-nav-bg:#008CD6;
$color-nav-selec-1:#8ccfe7;
$color-nav-selec-2:#8ccfe7;
$color-nav-selec-3:#8ccfe7;
$color-nav-bg-hover:#c3e4ef;
$color-dmp-color:#1d88a9;
$color-offer-icon:#27c5e8;
$color-offer-icon:#055791;
$color-resource-bg: #293d46;
$color-discovery-bg:#f2f2f2;
$color-factory-app: #91d0e6;
$color-factory-apptext: #515152;
$color-discovery-app: #91d0e6;
$color-discovery-apptext: #515152;
$color-resources-title:#bbbdbe;
$color-offer-hover:#10c5e9;
$color-ov-hover-title:#94c6ad;
$color-ov-hover-no: #cfe3da;
$color-ov-hover-function: #deeae6;
$color-ov-hover-benefit: #e6efec;
$color-ov-hover-border:#90c6ad;
$color-discovery-hover-title:#90c6cf;
$color-discovery-hover-no: #d4e7e9;
$color-discovery-hover-function:  #ddeced;
$color-discovery-hover-wifi: #e6f0f2;
$color-discovery-hover-border:#cce5e8;
$color-discovery-hover-link: #eef5f6;
$color-banner-bg:#4cb5d5;
$color-icon-border: #6b6c6e;
