$color-black: #000000;
$color-dark-grey: #4D4D4D;
$color-advanblue: #004280;
$color-dark-bg-white: #FFFFFF;
$color-map-E:#89AAD9;
$color-pdf-blue:#E3F1FF;
$color-pdf-unknown-blue: #00c1db;
$color-nav-bg:#008CD6;
$color-nav-selec:#8ccfe7;
$color-nav-bg-hover:#c3e4ef;
$color-dmp-color:#1d88a9;
$color-offer-icon:#27c5e8;
$color-offer-icon:#055791;
$color-resource-bg: #293d46;
$color-discovery-bg:#f2f2f2;
$color-factory-app: #91d0e6;
$color-factory-apptext: #515152;
$color-discovery-app: #91d0e6;
$color-discovery-apptext: #515152;
